@using SharedComponents.ViewModel
@using eTicketData.Entities

@*@ViewBag.MyEvent*@
<head>
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>

<main>
    <div class="details_div display_flex space_between">

        <div class="details_left_div">
            <div class="details_left_first">
                <img  src="~/Images/@ViewBag.MyEvent.Myimage"    asp-append-version="true" alt="">
                <div class="details_event_title_favorite display_flex space_between align_content">
                    <div class="details_event_title">
                        <p>@ViewBag.MyEvent.Date</p>
                        <h3>@ViewBag.MyEvent.Name</h3>
                    </div>
                    <div class="details_favorite align_content">
                        <a id="details_favorite_button" asp-action="AddFavorite" asp-controller="Favorite" asp-route-eventId="@ViewBag.MyEvent.EventId">Add to Favorite ♡</a>
                    </div>
                </div>
            </div>


            <div class="details_left_second">
                <div class="details_details">
                    <p>Details</p>
                </div>
                <div class="details_info">
                    <p>@ViewBag.MyEvent.Description</p>
                    <p>Event by </p>
                    <p>@ViewBag.MyEvent.Location</p>
                    <p>private/public</p>
                </div>
            </div>
            <div class="ticket_div display_flex space_evenly">
                <div class=" tickets_details row ">
                    <p>standart</p>
                </div>
                <div class="tickets_details ">
                    <p>standart</p>

                </div>
                <div class="tickets_details row ">
                    <p>standart</p>

                </div>
            </div>
        </div>

        <div class="details_right_div">
            <div class="little_details_right">
                <p>Tickets</p>
                <button>Find Tickets</button>
            </div>
            <div class="little_details_right">
                <p>Go with friends</p>
                <div class="display_flex space_evenly">
                    <div class="go_with_friends_left">
                        <h3> going-nr </h3>
                        <h5>Going</h5>
                    </div>

                    <div class="go_with_friends_right">
                        <h3> Int-nr </h3>
                        <h5>Interested</h5>
                    </div>
                </div>
            </div>
            <div class="little_details_right">
                <p>Host</p>
                <div class="event_organizer">                    
                    <h4>//name surname</h4>
                    <h6>Event Organizer</h6>                    
                </div>
            </div>
        </div>
    </div>
</main>


