@using SharedComponents.ViewModel
@using eTicketData.Entities

@*@ViewBag.MyEvent*@
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<main>
    <div class="details_div display_flex space_between">

        <div class="details_left_div">
            <div class="details_left_first">
                <img src="~/Images/@ViewBag.MyEvent.Myimage" asp-append-version="true" alt="">
                <div class="details_event_title_favorite display_flex space_between align_content">
                    <div class="details_event_title">
                        <p>@ViewBag.MyEvent.Date</p>
                        <h3>@ViewBag.MyEvent.Name</h3>
                    </div>
                    <div class="details_favorite align_content">
                        <a id="details_favorite_button" asp-action="AddFavorite" asp-controller="Favorite" asp-route-eventId="@ViewBag.MyEvent.EventId">Add to Favorite ♡</a>
                    </div>
                </div>
            </div>
            <div class="details_left_second">
                <div class="details_details">
                    <p>Details</p>
                </div>
                <div class="details_info">
                    <p id="details_description">"@ViewBag.MyEvent.Description"</p>
                    <p> <i class="fa fa-flag"></i>Event by </p>
                    <p> <i class="fa fa-map-marker"></i>@ViewBag.MyEvent.Location</p>
                    <p> <i class="fa fa-calendar-o"></i>@ViewBag.MyEvent.Date.ToString("dddd, dd MMMM yyyy")</p>
                    <p> <i class="fa fa-clock-o"></i>@ViewBag.MyEvent.Date.ToString("h:mm tt")</p>
                </div>
            </div>
            <div class="details_left_third">
                <h2 id="FindTickets" class="perfect_ticket">Find Your Perfect Ticket</h2>
                <div class="row space_evenly ">
                    @if (@ViewBag.MyCategory != null)
                    {
                        @foreach (var category in ViewBag.MyCategory)
                        {
                            <div class="col-md-5 ">
                                <div class="card ilgi-fun3 ticket_details " style="width: 18rem;">
                                    <img src="~/Images/ticket1.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h2 class="ticket_name color-black card-title">@category.Name</h2>
                                        <h4 class="ticket_name color-white card-subtitle mb-2 text-muted">Number of tickets @category.NumOfTickets   </h4>
                                        <form asp-action="" asp-controller="">

                                            <div class="price_details ">
                                                <p>Ticket Number:</p>
                                                <input type="number" value="0" id="input" /><br>
                                                <div class="price_total">

                                                    <h3>Price: $@category.Price</h3>
                                                </div>
                                                <button type="submit">Reserve Now</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="details_right_div">
            <div class="little_details_right">
                <p>Tickets</p>
                <a href="#FindTickets">Find Tickets</a>
            </div>
            <div class="little_details_right">
                <p>Go with friends</p>
                <div class="display_flex space_evenly">
                    <div class="go_with_friends_left">
                        <h3> going-nr </h3>
                        <h5>Going</h5>
                    </div>

                    <div class="go_with_friends_right">
                        <h3> Int-nr </h3>
                        <h5>Interested</h5>
                    </div>
                </div>
            </div>
            <div class="little_details_right">
                <p>Host</p>
                <div class="event_organizer">
                    <h4>//name surname</h4>
                    <h6>Event Organizer</h6>
                </div>
            </div>
        </div>
    </div>
</main>


<script>
    const minusButton = document.getElementById('minus');
    const plusButton = document.getElementById('plus');
    const inputField = document.getElementById('input');

    minusButton.addEventListener('click', event => {
        event.preventDefault();
        const currentValue = Number(inputField.value) || 0;
        inputField.value = currentValue - 1;
    });

    plusButton.addEventListener('click', event => {
        event.preventDefault();
        const currentValue = Number(inputField.value) || 0;
        inputField.value = currentValue + 1;
    });
</script>