@using SharedComponents.ViewModel

@model EventViewModel
@{
    ViewData["Title"] = "Manager Home Page";
}

<h1>@ViewData["Title"]</h1>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>

<div class="modal fade" id="modalview">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title h4">Messages</div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    <a href="#" class="text-decoration-none">
                    <li class="media hover-media">
                        <img src="./Images/avatar-dhg.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                        <div class="media-body text-dark">
                            <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </li>
                    </a>
                    <hr class="my-3">
                    <a href="#" class="text-decoration-none">
                    <li class="media hover-media">
                        <img src="./Images/avatar-fat.jpg" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                        <div class="media-body text-dark">
                            <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </li>
                    </a>
                    <hr class="my-3">
                    <a href="#" class="text-decoration-none">
                    <li class="media hover-media">
                        <img src="./Images/avatar-mdo.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                        <div class="media-body text-dark">
                            <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </li>
                    </a>
                    <hr class="my-3">
                    <a href="#" class="text-decoration-none">
                    <li class="media hover-media">
                        <img src="./Images/avatar-dhg.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                        <div class="media-body text-dark">
                            <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </li>
                    </a>
                    <hr class="my-3">
                    <a href="#" class="text-decoration-none">
                    <li class="media hover-media">
                        <img src="./Images/avatar-fat.jpg" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                        <div class="media-body text-dark">
                            <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </li>
                    </a>
                    <hr class="my-3">
                    <a href="#" class="text-decoration-none">
                    <li class="media hover-media">
                        <img src="./Images/avatar-mdo.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                        <div class="media-body text-dark">
                            <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </li>
                    </a>

                    <hr class="my-3">
                    <a href="#" class="text-decoration-none">
                    <li class="media hover-media">

                        <img src="./Images/avatar-dhg.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">

                        <div class="media-body text-dark">
                            <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                        </div>

                    </li>
                    </a>
                    <hr class="my-3">



                    <a href="#" class="text-decoration-none">
                    <li class="media hover-media">

                        <img src="./Images/avatar-fat.jpg" alt="img" width="60px" height="60px" class="rounded-circle mr-3">

                        <div class="media-body text-dark">
                            <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                        </div>

                    </li>
                    </a>


                    <hr class="my-3">


                    <a href="#" class="text-decoration-none">
                    <li class="media hover-media">

                        <img src="./Images/avatar-mdo.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">

                        <div class="media-body text-dark">
                            <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                        </div>
                    </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-section">
    <div class="container">
        <div class="row">
            <div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                <div class="center-section">
                    <div class="main-search-bar">
                        <h2>Events happening in your city</h2>
                        <form>
                            <div class="main-search-inputs main-form">
                                <div class="row g-3">
                                    <div class="col-lg-5 col-md-12 col-sm-12">
                                        <input class="search-form-input" type="text" placeholder="Search events">
                                    </div>
                                    <div class="col-lg-5 col-md-12 col-sm-12">
                                        <input class="search-form-input datepicker-here" data-language="en" type="text" placeholder="Select Date">
                                    </div>
                                    <div class="col-lg-2 col-md-12 col-sm-12">
                                        <button class="search-btn" type="submit"><i class="feather-search"></i><span>Search</span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="main-tabs">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a href="#tab-top" class="nav-link active" data-bs-toggle="tab" aria-selected="true" role="tab">Top</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#tab-local" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Local</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#tab-this-week" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">This Week</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#tab-classes" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Classes</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#tab-friends" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Friends</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#tab-online" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Online</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#tab-following" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Following</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-top" role="tabpanel">
                                <div class="main-posts">
                                    <div class="row">
                                        @foreach (var item in ViewBag.MYEvents)
                                        {
                                            <div class="col-md-6">
                                                <div class="event-main-post">
                                                    <div class="main-photo">
                                                            <a class="nav-link" href="/Event/MenagerEventDetails/@item.EventId"></a>
                                                            <div class="photo-overlay"></div>
                                                            <img style=" height:auto; border-radius: 5px 5px 0 0;" src="~/Images/@item.Myimage" asp-append-version="true" alt="">
                                                    </div>
                                                    <div class="event-body">
                                                        <span class="event-time">@item.Date</span>
                                                        <a href="/Event/MenagerEventDetails/@item.EventId" class="event-title">@item.Name</a>
                                                        <span class="event-type">@item.Location</span>
                                                        <span class="event-type">@item.Description/span>
                                                        <p class="ingo-counter">
                                                            <span>25 Interested</span>
                                                            <span>11 Going</span>
                                                        </p>
                                                        <div class="group-btns">
                                                            <button class="interest-btn btn-hover"><i class="feather-star me-2"></i>Interested</button>
                                                            <button class="share-btn btn-hover" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="feather-share-2"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-local" role="tabpanel">
                                <div class="main-posts">
                                    <div class="row">
                                        @foreach (var item in ViewBag.MYEvents)
                                        {
                                            <div class="col-md-6">
                                                <div class="event-main-post">
                                                    <div class="main-photo">
                                                            <a class="nav-link" href="/Event/MenagerEventDetails/@item.EventId"></a>
                                                            <div class="photo-overlay"></div>
                                                            <img style=" height:auto; border-radius: 5px 5px 0 0;" src="~/Images/@item.Myimage" asp-append-version="true" alt="">
                                                    </div>
                                                    <div class="event-body">
                                                        <span class="event-time">@item.Date</span>
                                                        <a href="/Event/MenagerEventDetails/@item.EventId" class="event-title">@item.Name</a>
                                                        <span class="event-type">@item.Location</span>
                                                        <span class="event-type">@item.Description/span>
                                                        <p class="ingo-counter">
                                                            <span>25 Interested</span>
                                                            <span>11 Going</span>
                                                        </p>
                                                        <div class="group-btns">
                                                            <button class="interest-btn btn-hover"><i class="feather-star me-2"></i>Interested</button>
                                                            <button class="share-btn btn-hover" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="feather-share-2"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-this-week" role="tabpanel">
                                <div class="main-posts">
                                    <div class="row">
                                       @foreach (var item in ViewBag.MYEvents)
                                        {
                                            <div class="col-md-6">
                                                <div class="event-main-post">
                                                    <div class="main-photo">
                                                            <a class="nav-link" href="/Event/MenagerEventDetails/@item.EventId"></a>
                                                            <div class="photo-overlay"></div>
                                                            <img style=" height:auto; border-radius: 5px 5px 0 0;" src="~/Images/@item.Myimage" asp-append-version="true" alt="">
                                                    </div>
                                                    <div class="event-body">
                                                        <span class="event-time">@item.Date</span>
                                                        <a href="/Event/MenagerEventDetails/@item.EventId" class="event-title">@item.Name</a>
                                                        <span class="event-type">@item.Location</span>
                                                        <span class="event-type">@item.Description/span>
                                                        <p class="ingo-counter">
                                                            <span>25 Interested</span>
                                                            <span>11 Going</span>
                                                        </p>
                                                        <div class="group-btns">
                                                            <button class="interest-btn btn-hover"><i class="feather-star me-2"></i>Interested</button>
                                                            <button class="share-btn btn-hover" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="feather-share-2"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-classes" role="tabpanel">
                                <div class="main-posts">
                                    <div class="row">
                                        @foreach (var item in ViewBag.MYEvents)
                                        {
                                            <div class="col-md-6">
                                                <div class="event-main-post">
                                                    <div class="main-photo">
                                                            <a class="nav-link" href="/Event/MenagerEventDetails/@item.EventId"></a>
                                                            <div class="photo-overlay"></div>
                                                            <img style=" height:auto; border-radius: 5px 5px 0 0;" src="~/Images/@item.Myimage" asp-append-version="true" alt="">
                                                    </div>
                                                    <div class="event-body">
                                                        <span class="event-time">@item.Date</span>
                                                        <a href="/Event/MenagerEventDetails/@item.EventId" class="event-title">@item.Name</a>
                                                        <span class="event-type">@item.Location</span>
                                                        <span class="event-type">@item.Description/span>
                                                        <p class="ingo-counter">
                                                            <span>25 Interested</span>
                                                            <span>11 Going</span>
                                                        </p>
                                                        <div class="group-btns">
                                                            <button class="interest-btn btn-hover"><i class="feather-star me-2"></i>Interested</button>
                                                            <button class="share-btn btn-hover" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="feather-share-2"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-friends" role="tabpanel">
                                <div class="full-width">
                                    <div class="no-events">
                                        <div class="no-event-icon">
                                            <img src="./Images/icon-calendar.png" alt="">
                                        </div>
                                        <span>No events found.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-online" role="tabpanel">
                                <div class="main-posts">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="event-main-post">
                                                <div class="main-photo">
                                                    <a href="event_detail_view.html">
                                                        <div class="photo-overlay"></div>
                                                        <img src="./Images/post-img-2.jpg" alt="">
                                                    </a>
                                                    <div class="option-ellipsis">
                                                        <div class="dropdown">
                                                            <a class="ellipsis-btn dropdown-toggle-no-caret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                                                                <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                                                                <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>User Profile</a>
                                                                <a class="post-link-item" href="#" data-bs-toggle="modal" data-bs-target="#reportModal"><i class="feather-flag icon-mr1"></i>Report</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="event-body">
                                                    <span class="event-time">thu,30 june 2022 at 3.00 pm</span>
                                                    <a href="event_detail_view.html" class="event-title">Event Title Here</a>
                                                    <span class="event-type">Online</span>
                                                    <p class="ingo-counter">
                                                        <span>25 Interested</span>
                                                        <span>11 Going</span>
                                                    </p>
                                                    <div class="group-btns">
                                                        <button class="interest-btn btn-hover"><i class="feather-star me-2"></i>Interested</button>
                                                        <button class="share-btn btn-hover" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="feather-share-2"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="event-main-post">
                                                <div class="main-photo">
                                                    <a href="event_detail_view.html">
                                                        <div class="photo-overlay"></div>
                                                        <img src="./Images/post-img-4.jpg" alt="">
                                                    </a>
                                                    <div class="option-ellipsis">
                                                        <div class="dropdown">
                                                            <a class="ellipsis-btn dropdown-toggle-no-caret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                                                                <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                                                                <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>User Profile</a>
                                                                <a class="post-link-item" href="#" data-bs-toggle="modal" data-bs-target="#reportModal"><i class="feather-flag icon-mr1"></i>Report</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="event-body">
                                                    <span class="event-time">thu,30 june 2022 at 3.00 pm</span>
                                                    <a href="event_detail_view.html" class="event-title">Event Title Here</a>
                                                    <span class="event-type">Online</span>
                                                    <p class="ingo-counter">
                                                        <span>25 Interested</span>
                                                        <span>11 Going</span>
                                                    </p>
                                                    <div class="group-btns">
                                                        <button class="interest-btn btn-hover"><i class="feather-star me-2"></i>Interested</button>
                                                        <button class="share-btn btn-hover" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="feather-share-2"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="event-main-post">
                                                <div class="main-photo">
                                                    <a href="event_detail_view.html">
                                                        <div class="photo-overlay"></div>
                                                        <img src="./Images/post-img-5.jpg" alt="">
                                                    </a>
                                                    <div class="option-ellipsis">
                                                        <div class="dropdown">
                                                            <a class="ellipsis-btn dropdown-toggle-no-caret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                                                                <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                                                                <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>User Profile</a>
                                                                <a class="post-link-item" href="#" data-bs-toggle="modal" data-bs-target="#reportModal"><i class="feather-flag icon-mr1"></i>Report</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="event-body">
                                                    <span class="event-time">thu,30 june 2022 at 3.00 pm</span>
                                                    <a href="event_detail_view.html" class="event-title">Event Title Here</a>
                                                    <span class="event-type">Online</span>
                                                    <p class="ingo-counter">
                                                        <span>25 Interested</span>
                                                        <span>11 Going</span>
                                                    </p>
                                                    <div class="group-btns">
                                                        <button class="interest-btn btn-hover"><i class="feather-star me-2"></i>Interested</button>
                                                        <button class="share-btn btn-hover" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="feather-share-2"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="loading-btn">
                                                <button class="process-btn btn-hover" type="button">
                                                    No More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-following" role="tabpanel">
                                <div class="full-width">
                                    <div class="no-events">
                                        <div class="no-event-icon">
                                            <img src="./Images/icon-calendar.png" alt="">
                                        </div>
                                        <span>No events found.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12">
                <div class="main-left-sidebar mt-5 mt-lg-5 mt-xl-0">
                    <div class="user-data full-width">
                        <div class="user-profile">
                            <div class="username-dt dpbg-1">
                                <div class="usr-pic">
                                    <img src="./Images/profile-dp.jpg" alt="">
                                </div>
                            </div>
                            <div class="user-main-details">
                                <h4>John Doe</h4>
                                <span><i class="feather-map-pin"></i>India</span>
                            </div>
                            <ul class="followers-dts">
                                <li>
                                    <div class="followers-dt-sm">
                                        <h4>Followers</h4>
                                        <span>3</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="followers-dt-sm">
                                        <h4>Following</h4>
                                        <span>2</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="profile-link">
                                <a href="my_profile.html">View Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="w-weather">
                        <div class="weather-top">
                            <div class="weather-left">
                                <div class="weather-city">Ludhiana</div>
                                <div class="week-text">Monday</div>
                                <div class="week-text">14 Oct 2019</div>
                                <div class="week-text" style="font-size: 18px;"><i class="fas fa-tint"></i> 30%</div>
                                <ul>
                                    <li>
                                        <div class="up-down"><i class="fas fa-long-arrow-alt-up"></i> 18°</div>
                                    </li>
                                    <li>
                                        <div class="up-down"><i class="fas fa-long-arrow-alt-down"></i> 25°</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="weather-right">
                                <i class="feather-sun"></i>
                                <span>22°</span>
                            </div>
                        </div>
                        <ul class="weekly-weather">
                            <li>
                                <div class="degree-text">32°</div>
                                <div class="weather-icon"><i class="fas fa-sun"></i></div>
                                <div class="day-text">Tue</div>
                            </li>
                            <li>
                                <div class="degree-text">19°</div>
                                <div class="weather-icon"><i class="fa-solid fa-cloud-sun-rain"></i></div>
                                <div class="day-text">Wed</div>
                            </li>
                            <li>
                                <div class="degree-text">32°</div>
                                <div class="weather-icon"><i class="fas fa-sun"></i></div>
                                <div class="day-text">Thu</div>
                            </li>
                            <li>
                                <div class="degree-text">27°</div>
                                <div class="weather-icon"><i class="fas fa-wind"></i></div>
                                <div class="day-text">Fri</div>
                            </li>
                            <li>
                                <div class="degree-text">22°</div>
                                <div class="weather-icon"><i class="fas fa-cloud-showers-heavy"></i></div>
                                <div class="day-text">Sat</div>
                            </li>
                            <li>
                                <div class="degree-text">12°</div>
                                <div class="weather-icon"><i class="fas fa-snowflake"></i></div>
                                <div class="day-text">Sun</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">
                <div class="right-side-items mt-0 mt-md-5 mt-lg-5 mt-xl-0">
                    <div class="post-event">
                        <h6>Want to Post Your Event</h6>
                        <p>Post your event on Goeveni for free. Just make an account and add it through the simple form. As simple as that.</p>
                        <a class="nav-link" asp-area="" asp-controller="Event" asp-action="CreateEvent">Post It Now</a>

                    </div>
                    <div class="explore-events">
                        <h4>Explore Events</h4>
                        <div class="explore-events-dt">
                            <div class="row g-2">
                                <div class="col-6">
                                    <a href="#">
                                        <div class="explore-card light-blue">
                                            <div class="explore-item-1">
                                                <div class="explore-icon-bg icon-large-1">
                                                    <i class="fas fa-sun"></i>
                                                </div>
                                                <div class="explore-content">
                                                    <i class="feather-sun"></i>
                                                    <span>Today</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="#">
                                        <div class="explore-card light-yellow">
                                            <div class="explore-item-1">
                                                <div class="explore-icon-bg icon-large-1">
                                                    <i class="feather-sun"></i>
                                                </div>
                                                <div class="explore-content">
                                                    <i class="feather-sun"></i>
                                                    <span>Tomorrow</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="#">
                                        <div class="explore-card dark-blue">
                                            <div class="explore-item-1">
                                                <div class="explore-icon-bg icon-large-1">
                                                    <i class="feather-calendar"></i>
                                                </div>
                                                <div class="explore-content">
                                                    <i class="feather-calendar"></i>
                                                    <span>This Week</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="#">
                                        <div class="explore-card light-green">
                                            <div class="explore-item-1">
                                                <div class="explore-icon-bg icon-large-1">
                                                    <i class="fas fa-calendar-check"></i>
                                                </div>
                                                <div class="explore-content">
                                                    <i class="feather-calendar"></i>
                                                    <span>Choose Date</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>
